body {
  font-family: "Poppins", sans-serif;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
#monthGrid button,
#yearGrid button {
  border: 2px solid #e0e7ff;
  border-radius: 8px;
  padding: 0.75rem;
  background: #e9ecef;
  font-weight: 500;
  transition: 0.2s;
  color: black;
}
#monthGrid button:hover,
#yearGrid button:hover {
  background: #0d6efd;
  color: #fff;
}
#monthGrid button.selected,
#yearGrid button.selected {
  background: #198754;
  color: #fff;
}

#yearGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 0.5rem;              
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #212529;
  color: #f8f9fa;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.equal-height {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.equal-height .card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card.bg-white {
  border-left: 5px solid #0d6efd;
  border-radius: 1rem;
}

